.div-style {
  width: 1000px;
  height: fit-content;
  margin-top: 60px;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 5px 10px 8px 10px #888888;;
  font-size: 2em;
  border: 1px solid black;
}
